* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;

    // TEST
    // font-family: 'Kristi', cursive;
    // font-family: 'Noto Serif TC', serif;
    // font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}