* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    font-family: 'Roboto', sans-serif;

    // TEST
    // font-family: 'Kristi', cursive;
    // font-family: 'Noto Serif TC', serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.flex {
    @include display_flex;
}