// HEADER
header {
    background-image: linear-gradient(rgba(48, 48, 48, 0.29) 0%, rgba(0, 0, 0, 0.68) 100%), url('../img/hero-07-2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    justify-content: space-between;
    width: 80%;
    margin: auto;

    .menu {
        align-items: flex-end;
        .list-menu {
            margin-right: 30px;
            font-family: 'Roboto', sans-serif;
            height: 55px;
            align-items: flex-end;
            &:hover {
                border-top: 3px solid $color-orange;
            }
        }
        a {
            color: $color-white;
            &:hover {
                color: $color-orange;
            }
        }
    }
}

// Heading
.main-header {
    justify-content: space-between;
    .heading {
        margin-left: 16%;
        margin-right: 10%;
        padding-bottom: 50px;
        h1 {
            font-family: 'Kristi', cursive;
            color: $color-orange;
            font-size: 7em;
            font-weight: 400;
        }
        h2 {
            font-family: 'Noto Serif TC', serif;
            color: $color-white;
            font-size: 38px;
        }
        p {
            font-family: 'Roboto', sans-serif;
            color: $color-suvagray;
            margin: 20px 0;
            font-size: 20px;
        }
    }

    // Widget & Button
    .buy-on {
        margin-left: 2%;
        background-color: $color-white;
        .widget-text {
            padding: 30px 35px;
            img {
                width: auto;
            }
            .book-release {
                width: 290px;
            }
            h2 {
                font-size: 22px;
                margin: $margin-vert-text;
                font-family: 'Noto Serif TC', serif;
            }
            h3 {
                font-size: 16px;
                font-weight: 500;
                color: $color-orange;
                margin: $margin-vert-text;
            }
            p {
                color: $color-suvagray;
                line-height: 1.8em;
            }
        }
        .btn-container {
            justify-content: center;
            padding: 10px 20px;
            button {
                border: 1px solid #a4d2c2;
                padding: 15px 40px;
                background: #f5fcfa;
                font-size: 15px;
                box-shadow: 0px 0px 20px 1px #bec6be;
                &:hover {
                    background: $color-white;
                    border: 1px solid #3da698;
                }
            }
            .btn-amazon {
                border-radius: 10px 0px 0px 10px;
            }
            .btn-appstore {
                border-radius: 0px 10px 10px 0px;
            }
        }
    }
}
// END HEADER