// MAIN II
// Third Section
.critic-say {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    
    .best-author {
        justify-content: space-between;
        margin: $margin-vert-text;
        .ba-wrapper {
            flex: 70%;
            background-image: linear-gradient(rgba(48, 48, 48, 0.29) 0%, rgba(0, 0, 0, 0.68) 100%), url('../img/testimonial2-2x.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0px 0px 75px 0px;
            max-height: 750px;
            .ba-container {
                padding: 80px;
                color: $color-white;
                h2 {
                    padding: 35px 0;
                    border-bottom: 1px solid #96a4a3;
                    font-size: 36px;
                    margin-bottom: 25px;
                    font-family: 'Noto Serif TC', serif;
                    width: fit-content;
                }
                h4 {
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-size: 18px;
                }
                p {
                    margin: 30px 0;
                    letter-spacing: 1px;
                    line-height: 1.8em;
                    font-size: 17px;
                    font-weight: 300;
                }
                .nytimes-logo-container {
                    padding-top: 25px;
                }
                .nytimes-logo {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                }
                .green {
                    color: #3da698;
                    margin-left: 10px;
                }
            }
        }
        .testimonials {
            flex-direction: column;
            flex: 40%;
            margin-left: 10%;
            .journal-text {
                padding: 40px;
                text-align: center;
                background-color: $color-dawn;
                h3 {
                    font-family: 'Noto Serif TC', serif;
                    text-transform: capitalize;
                    letter-spacing: 0px;
                    font-size: 1.4em;
                }
                p {
                    margin: 30px 0;
                    letter-spacing: 1px;
                    line-height: 1.8em;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            .journal {
                margin-top: 20px;
                margin-bottom: 50px;
                .journal-logo {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                }
                .journalist {
                    color: #86888e;
                }
                span {
                    letter-spacing: 1px;
                    line-height: 1.8em;
                    font-size: 17px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
        }
    }
}
.heading-articles {
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 2em;
        font-family: 'Noto Serif TC', serif;
        text-transform: capitalize;
    }
    h3 {
        font-weight: 400;
        font-size: 1em;
        margin: $margin-vert-text;
        color: #3da698;
    }
    button {
        padding: 13px 45px;
        border-radius: 5px;
        border: none;
        background-color: $color-orange;
        color: $color-white;
        font-size: 14px;
        &:hover {
            background-color: #e1aa40;
        }
    }
}
// End Third Section

// Fourth Section
.upcoming-event {
    background-color: $color-dawn;
    padding: 30px;
    .centred-titles {
        text-align: center;
        h2 {
            margin: $margin-vert-text;
            font-family: 'Noto Serif TC', serif;
            font-size: 2.5em;
        }
        h3 {
            font-size: 1em;
            font-weight: 500;
            color: $color-orange;
        }
    }
    .events-container {
        justify-content: space-around;
        padding: 30px 0px;
        width: 90%;
        margin: auto;
        .events {
            flex: 33%;
            background-color: $color-white;
            margin: 0px 25px;
            position: relative;
            .overlay {
                cursor: pointer;
                opacity:0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 301px;
                background: linear-gradient(to top,rgba(73,169,135,0.31) 0,rgba(255,255,255,0.39) 100%);
            }
            .overlay-img:hover .overlay{
                opacity: 1;
            }
            .events-inner {
                text-align: center;
                padding: 10px 20px;
                width: 90%;
                margin: auto;
            }
            h3 {
                font-weight: 400;
                text-transform: capitalize;
                font-size: 1.5em;
                letter-spacing: 1px;
                padding: 20px;
                border-bottom: 1px solid lightgray;
                margin-bottom: 20px;
            }
            p {
                padding: 20px;
                font-size: 18px;
                line-height: 1.8em;
                color: #86888e;
            }
        }
    }
}
// End Fourth Section

// Fifth Section
.subscribe-newsletter {
    background-image: url('../img/banner-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .banner-two {
        text-align: center;
        padding: 2% 37%;
        h2 {
            font-family: 'Noto Serif TC', serif;
            font-size: 2em;
            color: $color-white;
            text-transform: capitalize;
            margin-top: 20px;
        }
        h3 {
            color: $color-orange;
            font-weight: 400;
            padding: 20px 24px;
            font-size: 17px;
        }
        .input-bar {
            justify-content: center;
            margin: $margin-vert-text;
            input {
                padding: 20px 25px;
                border: none;
                border-radius: 5px;
                margin-right: 20px;
                font-size: 17px;
                &:focus {
                    border: none;
                }
            }
            button {
                padding: 20px 40px;
                font-size: 17px;
                border: none;
                border-radius: 5px;
                background-color: $color-green;
                color: $color-white;
                &:hover {
                    background-color: #357f60;
                }
            }
        }
        p {
            color: $color-suvagray;
            padding: 15px 40px;
            font-size: 18px;
        }
    }
}
// End Fifth Section
// END MAIN II